/*body, header and footer settings*/
body{
    margin: 0;
    background-color: #474545
}
header{
    background-color: #474545;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
} 
header img{
    border-radius: 200px;
    width: 350px;
    border: 10px solid #7C7C7C;
}
header h1{
    font-family: 'Press Start 2P', cursive, Poppins, sans-serif;
    font-size: 64px;
}
header h2{
    font-family: 'Press Start 2P', cursive, Poppins, sans-serif;
    font-size: 32px;
}
footer{
    background-color: #CACACA;
    text-align: center;
    margin: 0 auto;
}
footer p{
    color: #474545;
    text-align: center;
    margin: 0 auto;
}
footer a:link {
    color: #1581bf;
}
footer a:visited {
    color: #3e92bf;
}
footer a:hover{
    background-color: #474545;
    color: #CACACA;
}

/*headings and paragraph settings*/
h1{
    font-size: 64px;
    color: #FFFFFF;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    max-width: 800px;
} 
h2{
    font-size: 48px;
    color: #FFFFFF;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    max-width: 800px;
    }
h3{
    font-size: 36px;
    color: #FFFFFF;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    max-width: 800px;
}
h4{
    font-size: 24px;
    color: #FFFFFF;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    max-width: 800px;
}
p{
    font-size: 16px;
    color: #FFFFFF;
    font-family: Poppins light, Helvetica, Arial, sans-serif;
    max-width: 800px;
}

/*list settings*/
ol{
    font-size: 16px;
    color: #FFFFFF;
    font-family: Poppins light, Helvetica, Arial, sans-serif;
    max-width: 800px;
}
ul{
    font-size: 16px;
    color: #FFFFFF;
    font-family: Poppins light, Helvetica, Arial, sans-serif;
    max-width: 800px;
}

/*body hyperlink settings - note that these settings will not apply to footer and header menu*/
a:link {
    color:#A3BFEC;
}
a:visited {
    color: #acc0cf;
}
a:hover{
    color: #474545;
    background-color: #ffffff;
}

/*main settings*/
main img{
    max-width: 100%;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
figcaption{
    text-align: center;
    font-size: 16px;
    font-family: Poppins light, Helvetica, Arial, sans-serif;
    font-style: italic;
    margin: 0 auto;
    color: #CACACA;
}

/* Add background color to the top navigation */
.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #CACACA;
    height: 500px;
    color: #474545;
    border-radius: 10px;
  }
  
.topnav {
    overflow: hidden;
    background-color: rgb(226, 226, 226);
    position: relative; 
    /*text-align: right;*/
    /*font-style: ;*/
}

/*Hide the links inside the navigation menu (except for logo/home)*/
.topnav #myLinks {
    display: none;
  }

/* Style the links inside the navigation bar */
.topnav a{
    color: #474545;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Press Start 2P", Poppins black, Helvetica, Arial, sans-serif;
    display: block;
  }

  .topnav a.icon {
    background: #CACACA;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #7C7C7C;
    color: #ffffff;
  }
  
  .active {
    background-color: #CACACA;
    color: white;
  }
  
  /* Add a color to the active/current link 
  .topnav a.active {
    color: #7C7C7C;
  } */

/*Form styling*/
form p{
    font-size: 8px;
    color: #cacaca;
    font-family: Poppins light, Helvetica, Arial, sans-serif;
    max-width: 800px;
}
form button{
    size: 100px 20px;
    color:#474545;
    font-size: 30px;
    font-family: Poppins bold, Helvetica, Arial, sans-serif;
    font-style: bold;
    padding: 10px;
}
form label{
    font-size: 16px;
    color: #cacaca;
    font-family: Poppins light, Helvetica, Arial, sans-serif;
    max-width: 800px;
}
input{
    width: 500px;
    height: 20px;
    font-family: Poppins light, Helvetica, Arial, sans-serif;
}
textarea{
    width: 500px;
    height: 300px;
    font-family: Poppins light, Helvetica, Arial, sans-serif;
}